@model IEnumerable<WebPruebaNet.Models.Sucursal>

    <div style="color:Black; background-color:White;">
        <table class="table">
            <thead>
                <tr class="gvHeading">
                    <th>
                      Codigo de banco
                    </th>
                    <th>
                        Nombre del Banco
                    </th>
                    <th>
                        Direccion
                    </th>
                    <th>
                        Fecha Registro
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr class="gvRow">
                        <td>@item.iSucursalId</td>
                        <td>@item.vNombre</td>
                        <td>@item.vDireccion</td>
                        <td>@item.dFechaRegistro</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.iSucursalId }) |
                            @Html.ActionLink("Borrar", "Eliminar", new { id = item.iSucursalId }) |
                            @Html.ActionLink("Ver Ordenes de Pago", "Index", "OrdenPago", new { id = item.iSucursalId }, null)
                        </td>
                    </tr>
            }
            </tbody>
        </table>

    </div>


