@model IEnumerable<WebPruebaNet.Models.Sucursal>

<div style="color:Black; background-color:White;">
    <table class="grid">
        <thead>
            <tr class="gvHeading">
                <th scope="col">
                    <a href="/?sort=iBanco&amp;sortdir=ASC">Banco ID</a>
                </th>
                <th scope="col">
                    <a href="/?sort=xNombreBanco&amp;sortdir=ASC">Nombre del Banco</a>
                </th>
                <th scope="col">
                    <a href="/?sort=xDireccion&amp;sortdir=ASC">Dirección</a>
                </th>
                <th scope="col">
                    <a href="/?sort=dFechaRegistro&amp;sortdir=ASC">Fecha Registro</a>
                </th>
                <th scope="col">
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="gvRow">
                    <td>@item.iSucursalId</td>
                    <td>@item.vNombre</td>
                    <td>@item.vDireccion</td>
                    <td>@item.dFechaRegistro</td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.iSucursalId }) |
                        @Html.ActionLink("Borrar", "Eliminar", new { id = item.iSucursalId }) |
                        @Html.ActionLink("Ver Ordenes de Pago", "Index", "OrdenPago", new { id = item.iSucursalId }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


